@import './variables.scss';
.contact {
  max-width: 600px;
  min-height: auto;
  margin: 0px auto 100px;
  padding: 100px 0px;
  text-align: center;
  & .overline {
    display: block;
    margin-bottom: 20px;
    color: $red-dark;
    font-family: $font-mono;
    font-size: $fz-xl;
    font-weight: 400;
  }
  & .numbered-heading::after {
    content: '';
    width: 0;
  }
  & .title {
    font-size: clamp(40px, 5vw, 60px);
    margin: 0px 0px 10px;
    font-weight: 600;
    color: $lightest-slate;
    line-height: 1.1;
  }
  & .title-light{
    font-size: clamp(40px, 5vw, 60px);
    margin: 0px 0px 10px;
    font-weight: 600;
    color: $blue-light-mode;
    line-height: 1.1;
  }
  a.email-link {
    color: $red-dark;
    background-color: transparent;
    border: 1px solid $red-dark;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: $fz-sm;
    font-family: $font-mono;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: $transition;
    margin: auto;
    margin-top: 50px;
    &:hover {
      background-color: $red-dark-tint;
    }
  }
}
/*formulario */
.overline {
	display: block;
	margin-bottom: 20px;
	color: var(--red-dark);
	font-family: var(--font-mono);
	font-size: var(--fz-md);
	font-weight: 400;
	&:before { bottom: 0;
	font-size: var(--fz-sm);
}
& {
	&:after {
		display: none;
	}
}
} 

	.title {
		font-size: clamp(40px, 5vw, 60px);
	
}
form {
	max-width: 420px;
	margin: 50px auto;
}
.feedback-input {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	border-radius: 5px;
	line-height: 18px;
	background-color: transparent;
	border: 2px solid $red-dark;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
	&:focus {
		border: 2px solid #cc4949;
	}
}
.feedback-input-light {
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	border-radius: 5px;
	line-height: 18px;
	background-color: transparent;
	border: 2px solid $red-dark;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
	&:focus {
		border: 2px solid #cc4949;
	}
}
textarea {
	height: 150px;
	line-height: 150%;
	resize: none;
}
