
.container__proyects a {
  color: #fff;
}

/* Cards */
.cards__proyects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 0 30px 50px;
 
}

.cards__proyects__light {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 0 30px 50px;
 
}



.cards__proyects .cards-inner {

  background-color: #9b200da8;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.4s;
  cursor: pointer;
  color: #fff;
}

.cards__proyects__light .cards-inner {

  background-color: #4831d4;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.4s;
  cursor: pointer;
  color: #fff;
}


.cards__proyects .cards-inner:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.cards__proyects .cards-inner div i {
  margin-right: 20px;
  font-size: 24px;
}

.cards__proyects .cards-inner div p {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 14px;
}

.cards__proyects__light .cards-inner:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.cards__proyects__light .cards-inner div i {
  margin-right: 20px;
  font-size: 24px;
}

.cards__proyects__light .cards-inner div p {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 14px;
}

@media (min-width: 600px) {
 
  .cards__proyects {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards__proyects__light {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 912px) {
  .cards__proyects {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards__proyects__light {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .container__proyects {
    max-width: 1100px;
    margin: auto;
  }
}

