.toggle
{
    appearance: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: inset calc(1.2rem * 0.33) calc(1.2rem * -0.25) 0;
    border-radius: 999px;
    color: #9b1f0d;
    
    transition: all 500ms;
    
    &:checked {  
      transform: scale(0.75);
      color: hsl(40, 100%, 50%);
      box-shadow: 
        inset 0 0 0 1.2rem,
        calc(calc(1.2rem * 0.65) * -1) 0 0 calc(1.2rem * -0.4),
        calc(1.2rem * 0.65) 0 0 calc(1.2rem * -0.4),
        0 calc(calc(1.2rem * 0.65) * -1) 0 calc(1.2rem * -0.4),
        0 calc(1.2rem * 0.65) 0 calc(1.2rem * -0.4),
        calc(calc(1.2rem * 0.45) * -1) calc(calc(1.2rem * 0.45) * -1) 0 calc(1.2rem * -0.4),
        calc(1.2rem * 0.45) calc(1.2rem * 0.45) 0 calc(1.2rem * -0.4),
        calc(calc(1.2rem * 0.45) * -1) calc(1.2rem * 0.45) 0 calc(1.2rem * -0.4),
        calc(1.2rem * 0.45) calc(calc(1.2rem * 0.45) * -1) 0 calc(1.2rem * -0.4),
      ;
    }
  }

  
  .background {
    --bg: hsl(240, 100%, 10%);
    background: var(--bg);
    position: fixed;
    height: 100vh;
    width: 100vw;
    transition: background 500ms;
  }
  
  .toggle {
    z-index: 1;
    &:checked {
      & ~ .background {
        --bg: white;
      }
      & ~ .title {
        --color: hsl(40, 100%, 50%);
      }
    }
  }
  
